(
    information_for_contributors: [
        "This file has been converted from https://github.com/dustypomerleau/rust-syntax/blob/master/syntaxes/rust.tmLanguage.json",
        "If you want to provide a fix or improvement, please create a pull request against the original repository.",
        "Once accepted there, we are happy to receive an update request.",
    ],
    version: "https://github.com/dustypomerleau/rust-syntax/commit/328a68299533bc2b8c71028be741cce78a9e0d53",
    name: "Rust",
    scopeName: "source.rust",
    patterns: [
        (
            name: "",
            comment: "boxed slice literal",
            include: "",
            begin: "(<)(\\[)",
            beginCaptures: {
                "1": (
                    name: "punctuation.brackets.angle.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "2": (
                    name: "punctuation.brackets.square.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            end: Some(">"),
            endCaptures: {
                "0": (
                    name: "punctuation.brackets.angle.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            patterns: [
                (
                    name: "",
                    comment: "",
                    include: "#block-comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#gtypes",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#lvariables",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#lifetimes",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#punctuation",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#types",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            ],
            match: "",
            captures: {},
        ),
        (
            name: "meta.macro.metavariable.type.rust",
            comment: "macro type metavariables",
            include: "",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [
                (
                    name: "",
                    comment: "",
                    include: "#keywords",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            ],
            match: "(\\$)((crate)|([A-Z][A-Za-z0-9_]*))((:)(block|expr|ident|item|lifetime|literal|meta|path?|stmt|tt|ty|vis))?",
            captures: {
                "1": (
                    name: "keyword.operator.macro.dollar.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "3": (
                    name: "keyword.other.crate.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "4": (
                    name: "entity.name.type.metavariable.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "6": (
                    name: "keyword.operator.key-value.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "7": (
                    name: "variable.other.metavariable.specifier.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
        ),
        (
            name: "meta.macro.metavariable.rust",
            comment: "macro metavariables",
            include: "",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [
                (
                    name: "",
                    comment: "",
                    include: "#keywords",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            ],
            match: "(\\$)([a-z][A-Za-z0-9_]*)((:)(block|expr|ident|item|lifetime|literal|meta|path?|stmt|tt|ty|vis))?",
            captures: {
                "1": (
                    name: "keyword.operator.macro.dollar.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "2": (
                    name: "variable.other.metavariable.name.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "4": (
                    name: "keyword.operator.key-value.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "5": (
                    name: "variable.other.metavariable.specifier.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
        ),
        (
            name: "meta.macro.rules.rust",
            comment: "macro rules",
            include: "",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "\\b(macro_rules!)\\s+(([a-z0-9_]+)|([A-Z][a-z0-9_]*))\\s+(\\{)",
            captures: {
                "1": (
                    name: "entity.name.function.macro.rules.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "3": (
                    name: "entity.name.function.macro.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "4": (
                    name: "entity.name.type.macro.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "5": (
                    name: "punctuation.brackets.curly.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
        ),
        (
            name: "meta.attribute.rust",
            comment: "attributes",
            include: "",
            begin: "(#)(\\!?)(\\[)",
            beginCaptures: {
                "1": (
                    name: "punctuation.definition.attribute.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "2": (
                    name: "keyword.operator.attribute.inner.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "3": (
                    name: "punctuation.brackets.attribute.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            end: Some("\\]"),
            endCaptures: {
                "0": (
                    name: "punctuation.brackets.attribute.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            patterns: [
                (
                    name: "",
                    comment: "",
                    include: "#block-comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#keywords",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#lifetimes",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#punctuation",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#strings",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#gtypes",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#types",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            ],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "modules",
            include: "",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "(mod)\\s+((?:r#(?!crate|[Ss]elf|super))?[a-z][A-Za-z0-9_]*)",
            captures: {
                "1": (
                    name: "storage.type.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "2": (
                    name: "entity.name.module.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
        ),
        (
            name: "meta.import.rust",
            comment: "external crate imports",
            include: "",
            begin: "\\b(extern)\\s+(crate)",
            beginCaptures: {
                "1": (
                    name: "storage.type.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                "2": (
                    name: "keyword.other.crate.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            end: Some(";"),
            endCaptures: {
                "0": (
                    name: "punctuation.semi.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            patterns: [
                (
                    name: "",
                    comment: "",
                    include: "#block-comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#keywords",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#punctuation",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            ],
            match: "",
            captures: {},
        ),
        (
            name: "meta.use.rust",
            comment: "use statements",
            include: "",
            begin: "\\b(use)\\s",
            beginCaptures: {
                "1": (
                    name: "keyword.other.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            end: Some(";"),
            endCaptures: {
                "0": (
                    name: "punctuation.semi.rust",
                    comment: "",
                    include: "",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            },
            patterns: [
                (
                    name: "",
                    comment: "",
                    include: "#block-comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#comments",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#keywords",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#namespaces",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#punctuation",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#types",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
                (
                    name: "",
                    comment: "",
                    include: "#lvariables",
                    begin: "",
                    beginCaptures: {},
                    end: None,
                    endCaptures: {},
                    patterns: [],
                    match: "",
                    captures: {},
                ),
            ],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#block-comments",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#comments",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#lvariables",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#constants",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#gtypes",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#functions",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#types",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#keywords",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#lifetimes",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#macros",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#namespaces",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#punctuation",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#strings",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
        (
            name: "",
            comment: "",
            include: "#variables",
            begin: "",
            beginCaptures: {},
            end: None,
            endCaptures: {},
            patterns: [],
            match: "",
            captures: {},
        ),
    ],
)