(
    information_for_contributors: [
        "This file has been converted from https://github.com/dustypomerleau/rust-syntax/blob/master/syntaxes/rust.tmLanguage.json",
        "If you want to provide a fix or improvement, please create a pull request against the original repository.",
        "Once accepted there, we are happy to receive an update request.",
    ],
    version: "https://github.com/dustypomerleau/rust-syntax/commit/328a68299533bc2b8c71028be741cce78a9e0d53",
    name: "Rust",
    scopeName: "source.rust",
    patterns: [
        (
            comment: "boxed slice literal",
            name: "",
            match: "",
            patterns: [
                (
                    include: "#block-comments",
                ),
                (
                    include: "#comments",
                ),
                (
                    include: "#gtypes",
                ),
                (
                    include: "#lvariables",
                ),
                (
                    include: "#lifetimes",
                ),
                (
                    include: "#punctuation",
                ),
                (
                    include: "#types",
                ),
            ],
            begin: "(<)(\\[)",
            beginCaptures: {
                1: (
                    comment: "",
                    name: "punctuation.brackets.angle.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                2: (
                    comment: "",
                    name: "punctuation.brackets.square.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            end: ">",
            endCaptures: {
                0: (
                    comment: "",
                    name: "punctuation.brackets.angle.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            captures: {},
        ),
        (
            comment: "macro type metavariables",
            name: "meta.macro.metavariable.type.rust",
            match: "(\\$)((crate)|([A-Z][A-Za-z0-9_]*))((:)(block|expr|ident|item|lifetime|literal|meta|path?|stmt|tt|ty|vis))?",
            patterns: [
                (
                    include: "#keywords",
                ),
            ],
            begin: "",
            beginCaptures: {},
            end: "",
            endCaptures: {},
            captures: {
                1: (
                    comment: "",
                    name: "keyword.operator.macro.dollar.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                3: (
                    comment: "",
                    name: "keyword.other.crate.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                4: (
                    comment: "",
                    name: "entity.name.type.metavariable.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                6: (
                    comment: "",
                    name: "keyword.operator.key-value.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                7: (
                    comment: "",
                    name: "variable.other.metavariable.specifier.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
        ),
        (
            comment: "macro metavariables",
            name: "meta.macro.metavariable.rust",
            match: "(\\$)([a-z][A-Za-z0-9_]*)((:)(block|expr|ident|item|lifetime|literal|meta|path?|stmt|tt|ty|vis))?",
            patterns: [
                (
                    include: "#keywords",
                ),
            ],
            begin: "",
            beginCaptures: {},
            end: "",
            endCaptures: {},
            captures: {
                1: (
                    comment: "",
                    name: "keyword.operator.macro.dollar.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                2: (
                    comment: "",
                    name: "variable.other.metavariable.name.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                4: (
                    comment: "",
                    name: "keyword.operator.key-value.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                5: (
                    comment: "",
                    name: "variable.other.metavariable.specifier.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
        ),
        (
            comment: "macro rules",
            name: "meta.macro.rules.rust",
            match: "\\b(macro_rules!)\\s+(([a-z0-9_]+)|([A-Z][a-z0-9_]*))\\s+(\\{)",
            patterns: [],
            begin: "",
            beginCaptures: {},
            end: "",
            endCaptures: {},
            captures: {
                1: (
                    comment: "",
                    name: "entity.name.function.macro.rules.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                3: (
                    comment: "",
                    name: "entity.name.function.macro.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                4: (
                    comment: "",
                    name: "entity.name.type.macro.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                5: (
                    comment: "",
                    name: "punctuation.brackets.curly.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
        ),
        (
            comment: "attributes",
            name: "meta.attribute.rust",
            match: "",
            patterns: [
                (
                    include: "#block-comments",
                ),
                (
                    include: "#comments",
                ),
                (
                    include: "#keywords",
                ),
                (
                    include: "#lifetimes",
                ),
                (
                    include: "#punctuation",
                ),
                (
                    include: "#strings",
                ),
                (
                    include: "#gtypes",
                ),
                (
                    include: "#types",
                ),
            ],
            begin: "(#)(\\!?)(\\[)",
            beginCaptures: {
                1: (
                    comment: "",
                    name: "punctuation.definition.attribute.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                2: (
                    comment: "",
                    name: "keyword.operator.attribute.inner.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                3: (
                    comment: "",
                    name: "punctuation.brackets.attribute.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            end: "\\]",
            endCaptures: {
                0: (
                    comment: "",
                    name: "punctuation.brackets.attribute.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            captures: {},
        ),
        (
            comment: "modules",
            name: "",
            match: "(mod)\\s+((?:r#(?!crate|[Ss]elf|super))?[a-z][A-Za-z0-9_]*)",
            patterns: [],
            begin: "",
            beginCaptures: {},
            end: "",
            endCaptures: {},
            captures: {
                1: (
                    comment: "",
                    name: "storage.type.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                2: (
                    comment: "",
                    name: "entity.name.module.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
        ),
        (
            comment: "external crate imports",
            name: "meta.import.rust",
            match: "",
            patterns: [
                (
                    include: "#block-comments",
                ),
                (
                    include: "#comments",
                ),
                (
                    include: "#keywords",
                ),
                (
                    include: "#punctuation",
                ),
            ],
            begin: "\\b(extern)\\s+(crate)",
            beginCaptures: {
                1: (
                    comment: "",
                    name: "storage.type.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
                2: (
                    comment: "",
                    name: "keyword.other.crate.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            end: ";",
            endCaptures: {
                0: (
                    comment: "",
                    name: "punctuation.semi.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            captures: {},
        ),
        (
            comment: "use statements",
            name: "meta.use.rust",
            match: "",
            patterns: [
                (
                    include: "#block-comments",
                ),
                (
                    include: "#comments",
                ),
                (
                    include: "#keywords",
                ),
                (
                    include: "#namespaces",
                ),
                (
                    include: "#punctuation",
                ),
                (
                    include: "#types",
                ),
                (
                    include: "#lvariables",
                ),
            ],
            begin: "\\b(use)\\s",
            beginCaptures: {
                1: (
                    comment: "",
                    name: "keyword.other.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            end: ";",
            endCaptures: {
                0: (
                    comment: "",
                    name: "punctuation.semi.rust",
                    match: "",
                    patterns: [],
                    begin: "",
                    beginCaptures: {},
                    end: "",
                    endCaptures: {},
                    captures: {},
                ),
            },
            captures: {},
        ),
        (
            include: "#block-comments",
        ),
        (
            include: "#comments",
        ),
        (
            include: "#lvariables",
        ),
        (
            include: "#constants",
        ),
        (
            include: "#gtypes",
        ),
        (
            include: "#functions",
        ),
        (
            include: "#types",
        ),
        (
            include: "#keywords",
        ),
        (
            include: "#lifetimes",
        ),
        (
            include: "#macros",
        ),
        (
            include: "#namespaces",
        ),
        (
            include: "#punctuation",
        ),
        (
            include: "#strings",
        ),
        (
            include: "#variables",
        ),
    ],
)